@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.team__container{
    height: 40rem;
    background: var(--color-white);
    margin-top: 1.5rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 1rem var(--color-bg-variant);
}

.content{
    padding-left: 2%;
    padding-top: 2%;
    width: 96%;
}

.content > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    margin-bottom: 1.5rem;
}

.search__container{
    display: flex;
    width: inherit;
    height: 2.5rem;
    margin-right: 2%;
    border: 1px solid var(--color-bg-variant);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0.25rem var(--color-light);
}

.search__container > input{
    width: 90%;
    min-width: max-content;
    border: none;
    outline: none;
}

.search__container > input[type='text']{
    font-size: 1.25rem;
    padding-left: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.sgstns__container{
    width: 83%;
    height: 45%;
    margin-top: 0.25rem;
    position: absolute;
    overflow: scroll;
    scroll-behavior: smooth;
    background: var(--color-white);
    box-shadow: 0 0 0.5rem var(--color-light);
    border-radius: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sgstns__container::-webkit-scrollbar{
    display: none;
}

.add__btn{
    width: 10%;
    min-width: max-content;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-white);
    background: var(--color-primary);
    border: none;
    transition: var(--transition-2);
}


.add__btn:hover{
    background: var(--color-primary-variant);
    transition: var(--transition);
}

.add__btn:active{
    font-size: 0.8rem;
    transition: var(--transition);
}

.team__list{
    height: 25rem;
    width: 96%;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem var(--color-light);
    margin-top: 4rem;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.team__list::-webkit-scrollbar{
    display: none;
}

.team_user{
    height: 5rem;
    width: inherit;
    display: flex;
    
}

.initialz{
    background: var(--color-user-data);
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.initialz>p{
    line-height: 0.85rem;
    text-align: center;
    font-size: 1.15rem;
}

.added_users{
    display: flex;
    border: 1px solid var(--color-border-solid);
    transition: var(--transition);
}

.delete{
    font-size: 2rem;
    color: var(--color-primary);
    margin-top: 1.5rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 1.5rem;
    transition: var(--transition-2);
    position: relative;
}

.delete:hover{
    color: var(--color-primary-variant);
    transition: var(--transition);
}

.delete:active{
    font-size: 1.75rem;
    margin-right: 1.65rem;
    margin-top: 1.65rem;
    transition: var(--transition-2);
}

.to_be_added{
    display: flex;
    background: var(--color-user-data);
    border-radius: 0.4rem;
    width: fit-content;
    max-width: 100%;
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: auto;
    margin-left: 0.5rem;
}

.remove{
    margin-top: 0.125rem;
    font-size: 1.25rem;
    margin-bottom: auto;
    margin-right: 0.25rem;
    margin-left: auto;
}

.search_list{
    display: flex;
    width: fit-content;
    max-width: 50%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.search_list::-webkit-scrollbar{
    display: none;
}

.user{
    font-family: 'Montserrat', sans-serif;
    padding: 0.2rem 0.5rem;
    display: flex;
    overflow: hidden;
}

/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ================== */

@media screen and (max-width: 1024px) {
    .team__container{
        height: 50rem;
    }
    .team__list{
        height: 35rem;
    }
    .search__container > input{
        width: 85%;
    }
    .add__btn{
        width: 15%;
    }
}

/* ==================== MEDIA QUERIES (SMALL DEVICES) ================== */

@media screen and (max-width: 600px) {
    
}