body{
    margin: 1.5%;
    background: var(--color-bg);
}
:root{
    --color-bg: #ededf0;
    --color-bg-variant: #9d9ea7;
    --color-primary: #10098b;
    --color-primary-variant: rgb(130, 15, 146);
    --color-white: #fff;
    --color-light: rgb(97, 97, 97);
    --color-border-solid: rgba(97,97,97,0.5);
    --color-user-data: rgba(194, 132, 228, 0.5);
    --color-hover: rgb(186, 186, 186);

    --transition: all 400ms ease;
    --transition-2: all 200ms ease;
}
html{
    scroll-behavior: smooth;
}